.header {
    grid-area: h;
    background-color: dimgray;
    height: 60px;
  }
  .header img {
    margin: 10px;
    width: 170px;
    height: 40px;
    }
  
    .loginBlock {
      float: right;
    }
