.nav {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 250px;
   height: calc(100vh - 75px);
   padding: 30px 20px 30px 0;
   border-right: 1px solid #F2F2F2;
   background-color: #fff;
}

.item a {
   color: #353535;
   font-family: "Nunito";
   font-size: 16px;
   line-height: 1.31;
   text-decoration: none;
   display: inline-block;
   letter-spacing: 1px;
   font-size: 16px;
   align-items: flex-start;
   justify-content: flex-start;
   padding: 12px 30px;
   border-radius: 20px;
   font-weight: 700;
   line-height: 1.36;
}

.item a:hover {
	color: #F46119;
   background: rgba(244, 97, 25, 0.05);

}
